@model asp.netmvc5.Models.Vaccine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vaccine</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Barcode_NDC, "Barcode_NDC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Barcode_NDC)
                @Html.ValidationMessageFor(model => model.Barcode_NDC)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Two_Dim_Barcode, "Two_Dim_Barcode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Two_Dim_Barcode)
                @Html.ValidationMessageFor(model => model.Two_Dim_Barcode)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Unit_Use_Barcode_NDC, "Unit_Use_Barcode_NDC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Unit_Use_Barcode_NDC)
                @Html.ValidationMessageFor(model => model.Unit_Use_Barcode_NDC)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Package_Name, "Package_Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Package_Name)
                @Html.ValidationMessageFor(model => model.Package_Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Brand_Name, "Brand_Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Brand_Name)
                @Html.ValidationMessageFor(model => model.Brand_Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lot_Number, "Lot_Number", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lot_Number)
                @Html.ValidationMessageFor(model => model.Lot_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dose, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dose)
                @Html.ValidationMessageFor(model => model.Dose)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Added, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Added)
                @Html.ValidationMessageFor(model => model.Date_Added)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Expire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Expire)
                @Html.ValidationMessageFor(model => model.Date_Expire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
